.box{
  padding-top: 25px;
}
.aboutus{
  width: 550px;
  height:300px;
  margin-left: 50px;
  display: inline-block;
}
.Contacting{
  width: 550px;
  height:300px;
  margin-left:50px;
  display: inline-block;
}
.Contacting p{
  margin:0;
}
h1,p{
  color:#222326;

}
h1{
  margin-bottom: -9px;
}
a{
    color: #24a59f;
    text-decoration: none;
  }
a:hover, a:focus{
    text-decoration: underline;
  }
.locations{
    margin-left: 50px;
    width:550px;
    height:300px;
    display: inline-block;

  }
.Kasr{
    width:200px;
    margin-left: 10px;
  }
.Kasr h4{
    margin-bottom: -20px;
  }
.locations p{
    margin-bottom: -20px;
    }
.Nasr{
      width:200px;
      margin-left: 240px;
      margin-top: -163px;
    }
.Nasr h4{
      margin-bottom: -20px;
    }
.opening{
height:550px;
display: inline-block;
margin-left: 50px;
}
.ElSayeda2{
    width:200px;
    margin-left: 10px;
  }
.ElSayeda2 h4{
    margin-bottom: -20px;
  }
.Nasr2{
      width:200px;
      margin-left: 240px;
      margin-top: -257px;
    }
.Nasr2 h4{
      margin-bottom: -20px;
    }
p{
  color: #222326;
}
