@import url('https://fonts.googleapis.com/css?family=Cairo');
*{
	font-family:'Cairo',Arial,sans-serif;
	line-height: 25px;
}
.header{
		width:100%;
		padding:15px 0 15px 0;
		background-color:white;
		border-bottom:1px solid #f0f0f0;
    position: relative;
}
.header .title{
	font-size:20px;
	font-family:Arial, sans-serif;
  margin-left:60px;
}
body{
	margin:0;

}
#side{
	width:300px;
  height:calc(100% - 55px);
	top:55px;
	border-right:1px solid #f0f0f0;
	float:left;
  overflow:hidden;
  transition:width 0.5s;
	position:fixed;
	background-color:#282b33;
}
#side p{
margin:0;
display:inline-block;
position: absolute;
opacity:1 ;
transition: opacity 0.4s, margin-left 0.4s;
}
.side-small{
  width:50px !important;
}
.side-small p{
  opacity:0 !important;


}
.side-small .menu div{
padding-left:3px;
padding-right:0;
width:100%;
}

.prof{
	width:100%;
	height:200px;
	background-color:#21242b;
  position:relative;
	color:#f9f9f9;
}
.username-cont{
  width:200;
  text-align:center;
}
.prof-username{
  padding-left:calc(50% - 100px);
  position:absolute;
  bottom:20px;
}
.username-cont p{
  position:unset !important;
  text-transform: uppercase;
  font-size:20px;
}
.pic-cont{
  width:100%;
  height:100%;
  border-radius:50%;
  border:3px solid white;
  background:#000;
}
.prof-pic{
  width:80px;
  height:80px;
  padding-left:calc(50% - 40px);
  position:absolute;
  top:25px;
  transition:width 0.4s, height 0.4s, top 0.4s, padding-left 0.4s;
}
.prof-pic-small{
  width:30px !important;
  height:30px !important;
  padding-left:calc(50% - 15px) !important;
  top:calc(50% - 15px) !important;
  transition:width 0.4s, height 0.4s, top 0.4s, padding-left 0.4s;
}
.menu div{
	color:#f9f9f9;
	padding:20px;
	background-color:#282b33;
	border-bottom:1px solid #1C1E24;
	font-family: Arial,sans-serif;
	transition: color 0.3s, background-color 0.3s, padding 0.3s;
}
.menu i{
font-size:20px;
margin:0 10px 0 10px;
}
.new-not{
position: relative;
}
.new-not::before{
  content:'';
  position: absolute;
  width:8px;
  height:8px;
  top:calc(50% - 8px);
  right:-10px;
  background-color:#ff0000;
  opacity:0.9;
  border-radius:50%;
}
.menu div:hover{
	color:#fff;
	background-color:#3B3F4A;
	transition: color 0.3s, background-color 0.3s;

}

#body{
	width:calc(100% - 301px);
	float:right;
	height:600px;
	 /* background-color: red; */
  transition:width 0.5s;
}
.body-large{
  width:calc(100% - 51px) !important;
}
.heading{
	margin-left: 80px;
}
.Textheading{
	margin-left:20px;
	margin-top: 20px;
	width: 400px;
	height: 24px;
	border-bottom: 1px solid #a5a5a5;
}
.Textheading p{
	margin-top: -23px;
	margin-left: 19px;
	font-size: 25px;
}
ul,ol, a{
	text-decoration: none;
	list-style: none;
}
.GeneralS{
	margin-left: 80px;
	margin-top: 60px;
	font-size: 20px;
}
.GeneralS a{
	color:#666
}
.GeneralS h3{
	border-bottom: 1px solid #a5a5a5;
}
.giheader{
	margin-left: 37px;
	width: 210px;
}
.GeneralS ul li{
	padding-bottom: 15px;
	font-size: 20px;
}
.second{
	width: 120px;
}
.generalinfo-cont{
	width: 500px;
	margin-left: 120px;
	margin-top: 30px;
}
textarea{
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	max-width: 500px;
	min-width: 500px;
	max-height: 250px;
	min-height: 50px;
}
input[type=submit] {
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
.form-butt{
	background-color: #0c6dc0;
	margin-top: 50px;
	margin-left:30px;
	border-radius: 4px;
	transition: background-color 0.1s, border-radius 0.3s;
	text-transform: uppercase;
	font-weight: bold;

}
.form-butt:hover{
	background-color: #0c96dd;
	transition: background-color 0.1s;
	border-radius: 2px;
}
.texts{
	font-size: 19px;
}
.opening-times{
	margin-left: 120px;
	margin-top: 40px;
}
.Opening1{
	margin:0;
	margin-left: -35px;
}
.Address1{
display:inline-block;
margin-right:10px;
}
.Address1 ul li{
	padding-top: 5px;
	margin:0;
}
.Address1 h3{
	margin:0;
}
.times{
	border: 1px solid #a5a5a5;
}
.butt-cont{
	display:block;
}
.Members{
	width: 130px;
}
.Members p{
padding-left: 5px;
}
.catagory{
margin-top: 50px;
margin-left: 130px;
}
.catagory-name{
	width: 180px;
}
.catagory-name p{
 font-size: 25px;
 border-bottom: 1px solid #a5a5a5;
}
.catagory-members{
	margin-top: -3px;
	margin-left:-10px;
}
.catagory-members ul li{
font-size: 20px;
padding-bottom: 15px;
margin-right: 10px;
}
.circle{
	position: relative;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-left: -18px;
	margin-bottom: -21.1px;
}
