.banner{
  width:100%;
  height:40vw;
  position:relative;
  overflow:hidden;
}
#b-container{
  position:relative;
  transition:left 0.4s, right 0.4s;
  left:0;
  right:0;
}
.banner-img{
  width:100%;
  height:40vw;
  background-size:cover;
  position:absolute;
}

.b-button{
  width:6vw;
  padding:2vw 0;
  opacity:0.8;
  position: absolute;
  z-index:100;
  text-align:center;
  font-size:4vw;
  color:#fff;
  transition:opacity 0.4s;
  bottom: 1vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.b-button:hover{
  opacity:1;
  transition:opacity 0.4s;
}
.buttonNext{
  left:20vw
}

.buttonPrev{
  left:13vw;
}
.b-text {
  text-shadow: 0px 0px 30px rgba(0,0,0,0.4);
  top:6vw;
  left:10vw;
  position: absolute;
  color:#fff;
  margin:0;
}
.b-text h1,.b-text  p{

  margin:0;
  font-family:"Cairo", Arial;
}
.b-text h1{
  font-size:5vw
}
.b-text p{
font-size:2.5vw;
margin-top:-3vw;
}
.featured{
  width:25%;
  height:25vw;
  background:#ff0000;
  float:left;
}
.body{
  width:calc(100% - 200px);
  padding-left:200px;
  padding-top:70px;
  display:inline-block;
  font-family:"Cairo", Arial;
}
.about h3,.about h1{
  display:inline;
  margin-right:10px;
}
.about h3,.about h4{
  margin-top:10px;
  font-size:20px;
}
.body h2{
  margin-top:-20px;
}
.body li{
  font-size:17px;
  color:#3bceba;
}
.body li div{
  color:#000;
}
.prod-container{
  width:100%;
  height:450px;
}
.prod{
width:100%;
height:450px;
background-color: #000;
background-image:url('https://i.pinimg.com/originals/8f/09/90/8f09909d44e4e59d8fa80e5ee9ef2201.jpg');
background-size: cover;
background-position-y:-60px;
position: absolute;
}
.prod-overlay{
  width:100%;
  height:450px;
  opacity:0.7;
background: #9704db;
background: -moz-linear-gradient(-45deg, #9704db 0%, #0463e0 46%, #00d3d0 100%);
background: -webkit-linear-gradient(-45deg, #9704db 0%,#0463e0 46%,#00d3d0 100%);
background: linear-gradient(135deg, #9704db 0%,#0463e0 46%,#00d3d0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9704db', endColorstr='#00d3d0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
position:absolute;
}
.prod-overlay-I{
  width:100%;
  height:450px;
  opacity:0.6;
  background: #000;
  position:absolute;

}
.prod-t{
  width:100%;
  padding-top:30px;
  height:420px;
  color:#fff;
  font-weight:1100;
  position:absolute;
  text-align:center;
  text-transform:uppercase;
}
.prod-t h1{
  font-size:40px;
}
.prod-t p{
    font-weight: 800;
}
.prod-t a{
    color:#77b2d5;
}
.prod-but{
  width:130px;
  padding:7px 0 7px 0;
  border:2px solid #fff;
  font-size:15px;
  text-align:center;
  text-transform:uppercase;
  font-weight:800;
  transition: background-color 0.3s;
  color:#fff;
}
a{
  text-decoration:none;
}
.prod-but:hover{
background:rgba(255,255,255,0.2);
}
.map-container{
  width:100%;
  margin-top:60px;
  padding-top:50px;
  padding-bottom:60px;
  text-align:center;
  position:relative;
}
.map-container h1{
  margin:0;
  color:white;
}
.map-back{
  width:100%;
  height:300px;
  top:0;
  position:absolute;
  z-index:-100;
}
.map-p{
  background-image:url('../Images/Map.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}
.map-back-overlay{
  background-color:#0ed1ad;
  opacity:0.6;
}


.map{
  padding:6px;
  border-radius:14px;
  border:1px solid #eee;
  max-width:800px;
  overflow:hidden;
  background-color:white;
}

@media screen and (max-width: 800px) {
  .banner{
    height:60vw;

  }
  .banner-img{
    height:60vw;
  }
  .b-text h1{
    font-size:6vw
  }
  .b-text p{
  font-size:4vw;
  margin-top:-2vw;
  }
  .b-button{
    width:8vw;
    padding:3vw 0;
    font-size:6vw;
    opacity:1;
  }
  .buttonNext{
    left:calc(50vw - 4vw + 40px);
  }

  .buttonPrev{
    left:calc(50vw - 4vw - 40px);
  }
  .featured{
    width:50%;
    height:50vw;
  }
}
