@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('icons.css');
/*  */
/*  */
/*  */
/* MENU ICON START*/
.menu-iconr{
  display: none;
}
/*  MENU ICON END*/
*{
  font-family:"Cairo", Arial, sans-serif;
  outline:none;
}
body{
  margin:0;
  position:relative;
  padding-bottom:400px;
}
#sidenav{
  display:none;
}
.header{
		width:100%;
		height:70px;
		background-color:white;
		border-bottom:1px solid #f1f1f1;
    position:relative;
    top:0;
    z-index:1000;
    transition:top 0.3s;
}
.logo-s{
  display:none;
}
.logo{
  position:absolute;
}
.logotext{
  float:left;
  height:40px;
  margin-left: 40px;
  top:calc(50% - 20px);
}
.logotext img{
height:100%;
}
.nav-buttons{
  float:right;
  margin-right: 60px;
  border-right:1px solid #f1f1f1;
}
.nav-buttons a{
  color:#555;
  text-decoration: none;
}
.but{
  height:100%;
  border-left:1px solid #f1f1f1;
  padding:0 20px 0 20px;
  background:#fff;
  float:left;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color:#555;
  text-align:center;
  position: relative;
  z-index:2;
  transition:background-color 0.1s;
}
.but:hover{
background:#f1f1f1;
cursor:pointer;
}
.but p{
  margin:20px 0 20px 0;
}

.but-c{
  padding:0;
  font-weight: 500;
  width:calc(100% - 2px);
  border-right:1px solid #f1f1f1;
  border-top:1px solid #f1f1f1;
  position: relative;
  z-index:2;

}
.but .cont{
   max-height: 0;
   opacity: 0;
  transition: max-height 0.5s, opacity 0.4s;

}
.but:hover .cont{
   max-height: 500px;
   opacity: 1;
   transition: max-height 1s, opacity 0.2s;
}

.cont:hover{
  max-height: 500px;
}
.cont{
  width:200px;
  background-color:#fcfcfc;
  border-bottom:1px solid #f0f0f0;
  position: absolute;
  overflow:hidden;
  top:70px;
  left:0;
}
#searchContainer{
  width:100%;
  height:0px;
  position: relative;
  transition: height 0.4s;
  overflow: hidden;
}
.searchBox{
  width:90%;
  float:left;
  border:0;
  height:100%;
  padding-left:30px;
  font-size:20px;

}
.CloseSearch{
  height: 100%;
  font-size: 30px;
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 0;
  right: 15%;
  display:none;
  color:#999;
}
.CloseSearch:hover{
  color:#333;
}

#searchContainer:hover .CloseSearch{
display:block;
}

.searchButton{
  width:10%;
  height:100%;
  background:#00cbba;
  color:#fff;
  border:0;
}
.searchButton:active{
  border:0;
}
/*  */
/*  */
/* FOOTER START  */
.footer{
  bottom:0;
  width:100%;
  height:350px;
  background-color:#272b33;
  position:absolute;

}
.footer ul{
  margin:0;
  padding-left:10px;
}
.footer li{
  font-size:14px;
  list-style-type: none;
  color:#0000ff;
}
.footer li p{
  font-size:13px;
  margin:0;
  list-style-type: square;
  color:#777;
}

.footer p{
  margin:0;
  color:#999;

}

.f-left{
  float:left;
  width:calc(100%);
  text-align:center;
  padding-top:40px;
  border-top:1px solid #bbb;
  background-color:#272b33;
  padding-bottom:30px;

}

.f-section{
  float:left;
  margin-right:100px;
}
.f-bottom{
  position:absolute;
  width:calc(100% - 200px);
  background-color:#21242b;
  padding:10px 100px 10px 100px;
  color:#fff;
  font-size:14px;
  color:#666;
  bottom:0;

}
.f-bottom a{
  margin-left:25px;
  color:#666;
  text-decoration: none;
  text-decoration-color: #666;
}
.f-bottom a:hover{
  text-decoration: underline;
}
.f-bottom .rights{
  float:left;
}
.f-bottom .credits{
float:right;
font-size:12px;

}
.f-bottom .credits a{
  margin:5px;
}
/* FOOTER END */
/*  */
/*  */
/*  */

/*  */
/*  */
/*  */
/* MOBILE VERSION START*/
@media screen and (max-width: 800px) {
  /* MENU ICON START*/
  .menu-iconr{
    display: block;
    top:calc(50% - 3px) !important;
  }
  .menu-icon{
    background:#666 !important;
  }
  .menu-icon::after{
    background:#666 !important;
  }
  .menu-icona .menu-icon{
    background:transparent !important;
  }
  .menu-icon::before{
    background:#666 !important;
  }
  /*  MENU ICON END*/
  *{
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-select:none;
  }
  .nav-buttons{
    display:none;
  }
  .search{
    display:none;
  }
  #searchContainer{
    display:none;

  }
  .logotext{
    display:none;
  }
  .logo-s{
    width:50px;
    height:50px;
    display:block;
    left:calc(50% - 25px);
    top:calc(50% - 25px);

  }
  .logo-s img{
    width:100%;
    height:100%;
  }

  .header{
    border-bottom:1px solid #f2f2f2;
  }
  #sidenav{
    display: block;
    height:calc(100vh - 71px);
    width:80%;
    background: #fff;
    position:fixed;
    left:-80%;
    z-index:1000;
    top:71px;
    overflow: hidden;
    transition: left 0.4s;
  }
  .sidenavcont{
    width:100%;
    height:calc(100% - 50px);
    padding-top:50px;
    position: relative;
    overflow-y: scroll;
    top:0;

  }
  .sidenavbutt{
    width:calc(100% - 20%);
    padding:10px 10%;
    transition: background-color 0.2s;
  }
  .sidenavbutt a{
    color:#000;
    text-decoration: none;
  }
  .sidenavbutt-c{
    width:calc(100% - 40%);
    padding:10px 20%;
  }
  /* .footer{
    display:none;
  } */
  .f-bottom{
    position:absolute;
    width:calc(100% - 30px);
    background-color:#21242b;
    padding:10px 15px 10px 15px;
    color:#fff;
    font-size:11px;
    color:#666;
    bottom:0;
  }
  .sidebuttcont{
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.7s ease-in-out;
  }
  .fas{
    transition: transform 0.3s;
  }
  .bappear .fas{
    transform:rotate(180deg);
  }
  .bappear + .sidebuttcont{
    max-height: 700px;
    transition: max-height 0.7s ease-in-out;
    }
}
/* MOBILE VERSION END*/
/*  */
/*  */
/*  */
