.page{
  height: aut;
  width: 1150px;
  margin-left: 110px;
  margin-top: 80px;
  border: 1px solid #b5b5b5;
}
.image{
  overflow:hidden;
  background:#000;
  position:absolute;
  width: 350px;
  height: 400px;
  margin-top: 60px;
  margin-left: 40px;
}
.minimage{
  margin-left: 40px;
}
.image1{
  border: 1px solid #b5b5b5;
  background: red;
  width: 70px;
  height: 70px;
  margin-top: 470px;
  margin-left: 50px;
  position: absolute;
}
.image2{
  border: 1px solid #b5b5b5;
  background: green;
  margin-left: 140px;
  margin-top: 470px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.image3{
  border: 1px solid #b5b5b5;
  margin-left: 230px;
  margin-top: 470px;
  background: blue;
  width: 70px;
  height: 70px;
  position: absolute;
}

h3{
  color:#222326;
}

.name{
  width: 1060px;
}
.name h3{
  margin-left: 400px;
  margin-top: 50px;
  border-bottom: 1px solid #b5b5b5;
}
.name h4{
  margin-left: 400px;
  color:#666666;
  padding-left: 20px;
}
.descreption{
  width: 600px;
  margin-left: 400px;
  margin-top: -15px;
}
.descreption p{
  color: #666666;
}
.descreption a{
  margin-left: 50px;
  color: #1856ba;
  text-decoration: none;
}
a:hover, a:focus{
    color: #1822ba;
    text-decoration: none;
  }

.code{
  margin-left: 77px;
}
.is{
  margin-left:42px;
}
.little{
  padding-left: 20px;
}
.image{
  border: 1px solid #b5b5b5;
}
.ProdButton{
  padding:0.3px 10px;
  display: inline-block;
  color:#fff;
  font-size:15px;
  background:#1856ba;
  margin-right:30px;
  margin-top:20px;
  float:left;
  transition:background-color 0.2s
}
.ProdButton span{
  margin-right:7px;
  font-size:17px;
}
.ProdButton:hover{
  background:#1822ba;
}
.buttons{
  margin-left: 417px;
}
.sections{
  float: left;
  overflow: hidden;
  width: 1050px;
  margin-top: 250px;
  margin-left: -620px;
  text-align: center;
  border-bottom: 1px solid #b5b5b5;
}
.descreptionsec{
  color: #45818e;
  font-size: 20px;
  border: 1px solid #b5b5b5;
  width: 150px;
  padding: 6px 2px;
  border-bottom: none;
}
.features{
  font-size: 20px;
  border: 1px solid #b5b5b5;
  width: 150px;
  padding: 6px 2px;
  border-bottom: none;
  background: #ff9900;
  margin-top: -50px;
  margin-left: 157px;
}
.features strong{
  color:white;
}
.Detials{
  color: #666666;
margin-top: 330px;
margin-left: 70px;
}
.Detials h4, .Benfits h4{
  margin-bottom: -10px;
}
.Detials ul,.Benfits ul{
  margin-left: -14px;
}
.Benfits{
  color: #666666;
margin-top: 30px;
margin-left: 70px;
}
