.Image1::before{
  content:'Image1 Link : ';
}
.Image2::before{
  content:'Image2 Link : ';
}
.Image3::before{
  content:'Image3 Link : ';
}
.Image1,.Image2,.Image3,.availability{
  font-weight: 800;
  margin-left:30px;
}
.Butt{
  cursor:not-allowed;
}

.SubButt{
  border:0;
  background:#04bc04;
  cursor:pointer;
  display: inline-block;
}
.SubButt:hover{
  background: #04a504;
}
#txtHint{
  color:red;
  display: inline-block;
}
.SuccessMsg{
color:green;
}
.imgpr{
  width:60px;
  height:0;
  padding:30px 0;
  line-height:0px;
  text-align:center;
  font-size:15px;
  border:2px solid rgba(0,0,0,0.2);

}
.bimgpr{
  width:250px;
  height:0px;
  padding:125px 0;
  line-height: 0px;
  text-align:center;
  font-size:25px;
  background:#fff;
  border:1px solid #888;
}
